.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  position: relative;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 50px 20px 300px 30px;
}
.order-container{
  background: rgba(255, 153, 0, 0.3);
  padding: 0 12px 0 12px;
  height: 62vh;
  border-radius: 8px;
  position: fixed;
  right: 0px;
}
.clear-cart{
  width: 100%;
  background: #FF3030;
  border: 0;
  border-radius: 4px;
  color: #fff;
  margin-bottom: 16px;
  cursor: pointer;
}
.review-order{
  width: 100%;
  background: #FF9900;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 50px 20px 300px 30px;
  }
}
@media only screen and (max-width: 992px) {
  .products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 692px) {
  .shop-container {
    display: flex ;
    flex-direction: column;
    flex-direction: column-reverse
  }
  .order-container{
    height: 43vh;
    position: sticky;
  }
} 

