
.clear-cart{
    width: 100%;
    background-color: #FF3030;
    cursor: pointer;
    border: 0 ;
    color: #fff;
    border-radius: 8px;
}
.review-order{
    width: 100%;
    background-color: rgb(255, 170, 12);
    cursor: pointer;
    border: 0 ;
    color: #fff;
    border-radius: 8px;
}
.icon{
    margin-left: 8px;
}