@media only screen and (max-width: 768px) {
    .orders-container {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse
    }

    .cart-container2 {
        padding-top: 5px;
        position: sticky;
    }
}