nav {
  background: #1c2b35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 5%;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin-right: 36px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.005em;
}
